.customers {
  display: flex;
  max-height: 589px;
  max-width: 1420px;
  margin: 0 auto;
}

@media (max-width: 870px) {
  .customers {
    flex-direction: column;
    max-height: initial;
  }
}

.customers-left,
.customers-right {
  padding: 6.9rem;
}

@media (max-width: 870px) {
  .customers-left,
  .customers-right {
    padding-bottom: 0;
  }

  .customers-right {
    padding-top: 3.2rem;
  }
}

@media (max-width: 580px) {
  .customers-left,
  .customers-right {
    padding: 6.9rem 1.6rem 0;
  }

  .customers-right {
    padding-top: 3.2rem;
  }
}

.customers-left {
  flex-basis: 45%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.customers-left::after {
  content: '';
  display: block;
  height: 140px;
  width: 2px;
  background: var(--color-main);
  position: absolute;
  top: 150px;
  right: 0;
}

@media (max-width: 870px) {
  .customers-left {
    flex-basis: initial;
    min-height: initial;
    justify-content: center;
    align-items: center;
  }

  .customers-left .cta {
    display: none;
  }

  .customers-left::after {
    bottom: 0;
    left: 50%;
    transform: rotate(90deg);
  }
}

.customers-left h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.7rem;
}

.customers-left p {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin: 16px 0 32px;
}

@media (max-width: 870px) {
  .customers-left h1,
  .customers-left p {
    text-align: center;
  }
}

.customers-right {
  flex-basis: 55%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-testimonials-wrapper {
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow-y: scroll;
}

.customers-testimonials-wrapper::-webkit-scrollbar {
  width: 8px;
}

.customers-testimonials-wrapper::-webkit-scrollbar-thumb {
  background: var(--color-main);
}

.customers-testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.3s;
  margin-bottom: 32px;
  border: 1px solid transparent;
}

@media (max-width: 500px) {
  .customers-testimonials {
    flex-direction: column;
  }
}

.customers-testimonials:hover {
  border: 1px solid var(--color-main);
  transform: translateY(-3px);
}

.customers-testimonials .text {
  padding: 1.6rem;
}

.customers-testimonials p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: var(--color-main);
}

.customers-testimonials span:first-of-type {
  color: var(--color-main-dark);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.9rem;
  margin-top: 16px;
  display: block;
}

.customers-testimonials span:last-of-type {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: #c4c4c4;
}

@media (max-width: 500px) {
  .customers-testimonials .text p,
  .customers-testimonials .text span {
    display: block;
    text-align: center;
  }
}

.customers-testimonials img:last-child {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media (max-width: 620px) {
  .customers-testimonials img:last-child {
    width: 100px;
    height: 100px;
  }
}

.cta-mobile {
  display: none;
  align-self: center;
  margin-bottom: 6.9rem;
}

@media (max-width: 870px) {
  .cta-mobile {
    display: initial;
  }
}
